@font-face {
    font-family: 'Lobster';
    src: url(../fonts/Lobster/Lobster-Regular/Lobster-Regular.ttf);
    src: url(../fonts/Lobster/Lobster-Regular/Lobster-Regular.eot);
    src: url(../fonts/Lobster/Lobster-Regular/Lobster-Regular.woff);
    src: url(../fonts/Lobster/Lobster-Regular/Lobster-Regular.woff2);
}